@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body{
  overflow-x: hidden;
  
  /* background: rgb(237,237,247);
  background: linear-gradient(0deg, rgba(237,237,247,1) 0%, rgba(244,244,247,1) 71%, rgba(231,229,229,1) 100%);
  */
}





.handclick{
  display: none;
}

.innerslide{
  animation: clothani 20s linear infinite;
}
.slick-prev, .slick-next{
  color: red;
  background: red;
}

@keyframes clothani {
  from{
   transform : translateX(0)
  }
  to{
    transform: translateX(-100%);

  }
}

@media (width<1025px) {
  .midimg{
    order: -1;
  }
  
}

@media (width<1200px) {
  .close{
    display: none;

  }
  .handclick{
    display: inline-block;
  }

  

  .show{
    position:absolute;
    z-index: 1;
    top:5.3rem;
    left:0;
    background-color: rgba(0, 0, 0, 0.815);
    /* background: inherit;
  filter: blur(10px); */
    width: 100%;
    
   }

   .show ul{
    display: flex;
    flex-direction: column;
    align-items: center;

   }
  
}
